<h1 class="font-semibold text-gray-700 pb-4">Farmer</h1>
<div class="card">
  <h1 class="text-lg font-semibold">Details</h1>
</div>
<div class="grid md:grid-cols-2 sm:grid-cols-1 mt-4 gap-4" *ngIf="farmer$ | async as farmer">
  <div class="card">
    <h1 class="text-lg font-semibold col-span-2">General Information</h1>

    <div class="grid grid-cols-2 mb-4">
      <p class="font-medium">{{ farmer.firstName }} {{ farmer.lastName }}</p>
      <p class="text-neutral-500 text-xs text-end">ID: {{ farmer.personalId }}</p>
    </div>

    <div class="flex">
      <span class="material-symbols-outlined text-neutral-500"> mail </span>
      <p class="text-neutral-500 font-medium ml-4">{{ farmer.email }}</p>
    </div>

    <div class="flex">
      <span class="material-symbols-outlined text-neutral-500"> call </span>
      <p class="text-neutral-500 font-medium ml-4">{{ farmer.mobilePhoneNumber }}</p>
    </div>

    <div class="grid md:grid-cols-2 mt-4">
      <span class="border-b-2 py-2 font-medium">Company</span>
      <a
        *ngIf="company$ | async as company"
        class="py-2 border-b-2 text-secondary-500 cursor-pointer hover:underline"
        routerLink="/companies/{{ this.authenticationService.getCurrentCompanyId() }}"
      >
        {{ company.name }}
      </a>
      <span class="py-2 font-medium md:border-none sm:border-b-2">Plot of Land</span>
      <div>
        <a
          class="py-2 text-secondary-500 cursor-pointer hover:underline"
          *ngFor="let plotOfLand of farmer?.plotsOfLand"
          [routerLink]="['/pols', plotOfLand.id]"
        >
          {{ plotOfLand.description }}
        </a>
      </div>
    </div>
  </div>
  <div class="card grid grid-cols-2">
    <h1 class="text-lg font-semibold col-span-2">Address Information</h1>
    <span class="border-b-2 py-2 font-medium">Street</span>
    <p class="border-b-2 py-2 text-neutral-500">{{ farmer.address?.street }}</p>
    <span class="border-b-2 font-medium py-2">Postal Code</span>
    <p class="border-b-2 py-2 text-neutral-500">{{ farmer.address?.postalCode }}</p>
    <span class="border-b-2 font-medium py-2">City</span>
    <p class="border-b-2 py-2 text-neutral-500">{{ farmer.address?.city }}</p>
    <span class="border-b-2 py-2 font-medium">State</span>
    <p class="border-b-2 py-2 text-neutral-500">{{ farmer.address?.state }}</p>
    <span class="border-b-2 py-2 font-medium" [class]="farmer.address?.additionalInformation ? '' : 'md:border-none sm:border-b-2'"
      >Country</span
    >
    <p class="py-2 text-neutral-500" [class]="farmer.address?.additionalInformation ? 'border-b-2' : ''">{{ farmer.address?.country }}</p>
    <span *ngIf="farmer.address?.additionalInformation" class="font-medium py-2 md:border-none sm:border-b-2">Additional Information</span>
    <p class="text-neutral-500 py-2">{{ farmer.address?.additionalInformation }}</p>
  </div>
  <div class="card">
    <h1 class="text-lg font-semibold">Documents</h1>
    @if (!farmer.documents || farmer.documents.length === 0) {
      <p>No documents uploaded yet.</p>
    }

    @for (document of farmer.documents; track $index) {
      <div class="flex w-full justify-between items-center border-b-2">
        <div class="font-medium">
          {{ document.description.length > 0 ? document.description : 'No custom description provided (ID: ' + document.id + ')' }}
        </div>
        <div class="text-neutral-500 flex items-center gap-2">
          <a
            [href]="MINIO_URL + document.documentRef"
            target="_blank"
            class="p-1 material-symbols-outlined hover:bg-gray-200 rounded-full cursor-pointer"
            matTooltip="Download document"
          >
            <span class="material-symbols-outlined"> download </span>
          </a>
          <span
            class="p-1 material-symbols-outlined hover:bg-red-200 rounded-full cursor-pointer"
            (click)="deleteDocument(document)"
            matTooltip="Delete document"
          >
            delete
          </span>
        </div>
      </div>
    }
  </div>

  <div>
    <app-upload-form
      [title]="'Upload Documents'"
      [showDescriptionField]="true"
      [showUploadedFiles]="false"
      [buttonText]="'Upload '"
      [buttonTooltip]="'Uploads the document directly to the farmer'"
      (uploadDocument)="submitFile({ fgFile: $event, farmerId: farmer.id })"
    ></app-upload-form>
  </div>
</div>

<div class="card mt-4">
  <div class="inline-flex justify-end gap-4 w-full">
    <button mat-button (click)="window.history.back()" class="font-medium">Back</button>
  </div>
</div>
