<aside class="w-80 h-screen bg-white border-r-2 fixed">
  <ul>
    <div>
      <li class="my-2 mx-4 hover:bg-green-700 hover:bg-opacity-25 rounded-full py-1">
        <a class="flex flex-row items-center gap-4 px-6 cursor-pointer py-4">
          <span class="material-icons-outlined">home</span>
          Overview
        </a>
      </li>
      <li class="my-2 mx-4 hover:bg-green-700 hover:bg-opacity-25 rounded-full py-1">
        <a routerLink="/harvest"
           class="flex flex-row items-center gap-4 px-6 cursor-pointer py-4">
          <span class="material-icons-outlined">add_circle</span>
          Add Harvest
        </a>
      </li>
    </div>
  </ul>
  <ul class="absolute bottom-16 left-0 right-0 border-t-2">
    <li class="mt-8">
      <a class=" flex flex-row items-center gap-4 px-6 mx-4 cursor-pointer">
        <span class="material-icons-outlined">logout</span>
        Logout
      </a>
    </li>
    <li class="p-5 w-80 border-t-2 border-b-2 mt-6">
      <img ngSrc="./assets/images/bmuv_support.jpg" alt="BMUV" width="1527" height="569" priority="">
    </li>
    <li class="my-4 space-x-20 text-xs">
      <a class="ml-10 mt-1 cursor-pointer">
        Imprint
      </a>
      <a class="cursor-pointer">
        Privacy Policy
      </a>
    </li>
  </ul>
</aside>
